@use './variables' as *;

@mixin mobile {
  @media (min-width: $mobile-min) and (max-width: $mobile-max) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    @content;
  }
}


@mixin glass-effect {
  background-color: rgba(255, 255, 255, 0.45); 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); 
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.05);
}

