@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import './variables';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 140px; 
}

body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-main);
  
  overflow-x: hidden; 
  overflow-y: visible; 
  
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}