@import './variables';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Funnel Display', sans-serif;
  min-height: 100vh; 
  
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}


img, svg, video {
  max-width: 100%;
  height: auto;
  display: block; 
}
