
.layout {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 0 0; 

  // Головне налаштування грида
  grid-template-columns: repeat(10, 1fr);
  column-gap: 20px;

  // Центрування самого грида та його елементів
  justify-content: center;
  align-items: stretch;
}
