/* 1. Імпортуємо шрифти (завжди на самому початку файлу) */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Gabriela&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-main: 'Funnel Display', sans-serif;

  --bg-start: #EAC7FF;
  --bg-end: #E5D9FF;
  --glow-color: #E9CAFF;

  --mobile-min: 320px;
  --mobile-max: 639px;
  --tablet-min: 640px;
  --tablet-max: 1199px;
  --desktop-min: 1200px;
  --desktop-max: 1440px;

  --bg-primary: #FFF5FE;
  --bg-main-card: #F9EAFE;
  --bg-secondary-card: #FAF1FF;
  --text-primary: #0D0D0A;
  --text-secondary: #A0A1A1;
  --accent-purple: #A25AD6;
  
  --glow-color-1: rgba(233, 213, 255, 0.5);
  --glow-color-2: rgba(243, 232, 255, 0.3);

  --glass-bg: rgba(255, 255, 255, 0.5);
  --glass-border: rgba(255, 255, 255, 0.4);
  --glass-shadow: rgba(31, 38, 135, 0.05);

}

[data-theme="dark"] {
  --bg-primary: #1c191c;
  --bg-main-card: #1f1424;     
  --bg-secondary-card: #1a121f;  
  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;
  --accent-purple: #8146b5;   
  
  --glow-color-1: rgba(147, 51, 234, 0.3);
  --glow-color-2: rgba(168, 85, 247, 0.1);

  --glass-bg: rgba(22, 15, 25, 0.6); 
  --glass-border: rgba(255, 255, 255, 0.08); 
  --glass-shadow: rgba(0, 0, 0, 0.3);
}